.button {
  display: inline-block;
  font-family: "Fira Code";
  background-color: #EADFB4;
  box-shadow: 5px 5px 0px 0px #000;
  padding: 18px 20px;
  margin-right: 0px;
  transition: transform 100ms linear;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.05);
}